[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
	ignore = dirty
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
	ignore = dirty
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
	ignore = dirty
[submodule "bundle/git"]
	path = bundle/git
	url = git://github.com/tpope/vim-git.git
	ignore = dirty
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
	ignore = dirty
[submodule "bundle/minibufexpl"]
	path = bundle/minibufexpl
	url = git://github.com/sontek/minibufexpl.vim.git
	ignore = dirty
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://github.com/wincent/Command-T.git
	ignore = dirty
[submodule "bundle/ack"]
	path = bundle/ack
	url = git://github.com/mileszs/ack.vim.git
	ignore = dirty
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
	ignore = dirty
[submodule "bundle/pydoc"]
	path = bundle/pydoc
	url = git://github.com/fs111/pydoc.vim.git
	ignore = dirty
[submodule "bundle/py.test"]
	path = bundle/py.test
	url = git://github.com/alfredodeza/pytest.vim.git
	ignore = dirty
[submodule "bundle/makegreen"]
	path = bundle/makegreen
	url = git://github.com/reinh/vim-makegreen
	ignore = dirty
[submodule "bundle/tasklist"]
	path = bundle/tasklist
	url = git://github.com/vim-scripts/TaskList.vim.git
	ignore = dirty
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/vim-scripts/The-NERD-tree.git
	ignore = dirty
[submodule "bundle/ropevim"]
	path = bundle/ropevim
	url = git://github.com/sontek/rope-vim.git
	ignore = dirty
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
	ignore = dirty
[submodule "bundle/latex-box"]
	path = bundle/latex-box
	url = git://github.com/vim-scripts/LaTeX-Box.git
	ignore = dirty
[submodule "bundle/commentary"]
	path = bundle/commentary
	url = git://github.com/tpope/vim-commentary.git
	ignore = dirty
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = git://github.com/tpope/vim-repeat.git
	ignore = dirty
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
	ignore = dirty
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
	ignore = dirty
